@font-face {
  font-family: Rebond-Regular;
  src: url("./fonts/Rebond-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: Rebond-Bold;
  src: url("./fonts/Rebond-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: Rebond-Light;
  src: url("./fonts/Rebond-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: Rebond-Thin;
  src: url("./fonts/Rebond-Thin.otf");
  font-display: swap;
}

@font-face {
  font-family: Inter-Light;
  src: url("./fonts/Inter-ExtraLight.ttf");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  /* border: 1px #0000ff solid; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #0a0018;
  color: 1px solid #ffffff1a;
  /* border: 1px red solid; */
  height: 100vh;
  width: 100vw;
}

.blur-effect {
  background-color: rgba(30, 117, 69, 0.15);
  backdrop-filter: blur(5px);
}

/* .drop-shadows {
  filter: drop-shadow(0px 0px 1rem rgba(1, 68, 42, 0.815));
  box-shadow: inset 0px 0px 1rem rgba(1, 68, 42, 0.815);
} */

.text-box {
  display: block;
  background-color: transparent;
  border: 1px #ffffff1a solid;
  width: 90%;
  border-radius: 7px;
  transition: 80ms;
}

.text-box:focus {
  border: none;
  outline: 2px solid #7060c2;
}

.btn-blur {
  border: 1px #ffffff1a solid;
}

.background-style {
  background-image: url("./img/background.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.frosted-container {
  background-color: #0a0018da;
  backdrop-filter: blur(25px);
}

.create-btn {
  background: radial-gradient(
      107.5% 107.5% at 50% 215%,
      rgba(255, 255, 255, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.04);
}

.neon {
  text-shadow: #7060c2 1px 0 10px;
}

.gradian-text {
  background: linear-gradient(to left, #7060c2 30%, #463c78 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradian-background {
  background: rgb(73, 50, 186);
  background: linear-gradient(
    0deg,
    rgba(73, 50, 186, 1) 0%,
    rgba(61, 48, 130, 1) 100%
  );
}

.task-border {
  border: 1px rgba(0, 0, 0, 0) solid;
  transition: 200ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task-border:hover {
  border: 1px #5b4f98 solid;
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(41, 37, 58);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #5b4f98;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b4f98;
}
